body{
    margin: 0;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-rows: 120px auto 50px;

}
.header{
    background-color: red;
    grid-row: 1/2;
}

.game{
    background-image: url(wall.jpg);
    grid-row: 2/3;
    text-align: center;
}
.footer{
    background-color: blue;
    grid-row: 3/4;
    color: aliceblue;
}
.ScoreWrap{
    background-color: black;
    opacity: 80%;
}
.ScoreWrap h1{
    color: white;
    opacity: 100%;
}
.particles{
    z-index: 3;
    position: absolute;
}
.particles img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 80px;
}
.GameButton{
    position: relative;
    z-index: 4;
    user-select: none;
}
.GameButton img{
    cursor: url(Alternate.cur),pointer;
    border-radius: 50%;
    width: 256px;
}
html {
    cursor: url(Normal.cur),default;
}
